div
{
  /* display: inline-block; */
  vertical-align: middle ;
  position: relative;
  top: 10px;
  left: 1rem;
}

h1
{
  font-size: 6rem;
  display: inline-block;
  border-radius: 40px;
  background-color:rgb(209, 224, 253);
  padding: 20px 40px;
  position: absolute;
  top: -50px;
  left: 100px;
}

h2
{
  font-size: 6.5rem;
  padding: 20px 40px;
  display: inline-block;
  position: absolute;
  top: -95px;
  left: 250px;
}

h3
{
  font-size: 8rem;
  padding: 1.5rem 9rem 0px 9rem;
  display: inline-block;
  border-top-style:dashed;
  border-color: rgb(146, 139, 139);
  position: absolute;
  top: 100px;
  left: 60px;
}
