div
{
  /* display: inline-block; */
  vertical-align: middle ;
  position: relative;
  top: 6vh;
  left: 5vw;
}

h1
{
  font-size: 6vw;
  display: inline-block;
  border-radius: 2vw;
  background-color:rgb(209, 224, 253);
  padding: 1vw 2vw;
  position: absolute;
  top: -2.9vw;
  left: 5vw;
}

h2
{
  font-size: 5vw;
  padding: 2vw 2.5vw;
  display: inline-block;
  position: absolute;
  top: -6.5vw;
  left: 12.5vw;
}

h3
{
  font-size: 6vw;
  padding: 1.5vh 6.5vw 0vh 6.5vw;
  display: inline-block;
  border-top-style:dashed;
  border-color: rgb(146, 139, 139);
  position: absolute;
  top: 6vw;
  left: 4vw;
}
