<!-- <div id="number">
  <h1 style="font-family: sans-serif">
    {{ counternumber }}
  </h1>
      <h2 style="font-family: monospace">
        櫃台
        <br>counter
      </h2>

    <h3 style="font-family: DFKai-sb">
      {{person}}
    </h3>
</div>

<div id="name">
  <p style="font-family: DFKai-sb"> {{person}} </p>
</div>
 -->

<div style="font-family: sans-serif">
  <h1 id="number">
    {{ counternumber }}
  </h1>
</div>

<div style="font-family: 微軟正黑體">
  <h2>
    {{person}}
  </h2>
</div>




