div
{
   position: relative;
   top: 50vh;
   /* left: 0.5vw; */
   text-align:center
}

h3
{
  padding: 0vh 2vw;
  color: rgb(0, 0, 0);
  display: inline-block;
}

p
{
  font-size: 2vw;
}

nav
{
  width: 15vw;
}
