<div>
    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="width:auto ;height:auto; max-width: 85%; max-height: 85%;" alt="Angular Logo" src="http://10.101.2.9/totally%20agree3D.png" (click) = "this.degree = 5; empno(); onClickChange()">
        </a>
      </nav>
      <p style="text-align:center;font-family:微軟正黑體"> {{number5}}</p>
      <p style="text-align:center;font-family: monospace"> Excellence</p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="width:auto ;height:auto; max-width: 80%; max-height: 80%;" alt="Angular Logo" src="http://10.101.2.9/partly%20agree3D.png" (click) = "this.degree = 4; empno(); onClickChange()">
        </a>
      </nav>
      <p style="text-align:center;font-family:微軟正黑體"> {{number4}} </p>
      <p style="text-align:center;font-family: monospace"> Good</p>

    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="width:auto ;height:auto; max-width: 80%; max-height: 80%;" alt="Angular Logo" src="http://10.101.2.9/no%20comment3D.png" (click) = "this.degree = 3; empno(); onClickChange()">
         </a>
      </nav>
      <p style="text-align:center;font-family:微軟正黑體"> {{number3}} </p>
      <p style="text-align:center;font-family: monospace"> Average</p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="width:auto ;height:auto; max-width: 80%; max-height: 80%;" alt="Angular Logo" src="http://10.101.2.9/partly%20disagree3D.png" (click) = "this.degree = 2; empno(); onClickChange()">
        </a>
      </nav>
      <p style="text-align:center;font-family:微軟正黑體"> {{number2}} </p>
      <p style="text-align:center;font-family: monospace"> Poor</p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="width:auto ;height:auto; max-width: 80%; max-height: 80%;" alt="Angular Logo" src="http://10.101.2.9/totally%20disagree3D.png" (click) = "this.degree = 1; empno(); onClickChange()">
        </a>
      </nav>
      <p style="text-align:center;font-family:微軟正黑體"> {{number1}} </p>
      <p style="text-align:center;font-family: monospace"> Bad</p>
    </h3>
</div>


