div
{
   position: absolute;
   top: 31.5vw;
   left: 6vw;
   text-align:center
}

h3
{
  padding: 0vh 1.5vw;
  color: rgb(0, 0, 0);
  display: inline-block;
  line-height: 1vw;
}

nav
{
  width: 15vw;
}

p
{
  font-size: 2.5vw;
  line-height: 1vw;
}

