div
{
  position:relative;
  top: 46vh;
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
}

b
{
  border-radius: 40px;
  padding: 2vh 4vw;
  display: inline-block;
  background-color:rgba(246, 199, 242, 0.555);
}
