div
{
  /* z-index: 2; */
  position:relative;
  top: 10.5cm;
  color: rgb(0, 0, 0);
  font-size: 3em;
}

b
{
  border-radius: 40px;
  padding: 20px 40px;
  display: inline-block;
  border-radius: 40px;
  background-color:rgba(246, 199, 242, 0.555);
}
