div
{
  position:absolute;
  top: -3.5vh;
  right: 8vw;
  font-size: 5vw;
  display: inline-block;
  vertical-align: middle;
}

h1
{
  border-radius: 30px;
  background-color:rgba(212, 237, 247, 0.644);
  padding: 4vh 4vw;
  border-style:double;
  border-width:12px;
  border-color:rgb(78, 108, 148);
}
